{% extends "shop/base.html" %}
{% block content %}
<h1 class="title">My favorites products</h1>
<div class="row">

        {% if products_list %}
            {% for product in products_list %}
                <div class="col-md-3">
                    <div>{% include "shop/product-small-block.html" %}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert-wrapper">
                <span class="alert alert-info">You have no favorite products yet</span>
            </div>

        {% endif %}
</div>
{% endblock %}