<div class="product-item">
    <span class="product-item__category">Category: {{product.category.name}}</span>
    <div class="product-item__image">
        <img src="{{product.image}}" alt="{{product.name}}">
    </div>
    <h2 class="product-item__title"><a  href="{% url 'product' product.id %}">{{product.name}}</a></h2>
    <p class="product-item__brand">made by: {{product.brand}}</p>
    <p class="product-item__date">posted at: {{product.pub_date}}</p>
    <p class="product-item__price">{{product.price}}$</p>
</div>
